
RewriteEngine on

RewriteRule ^espacios/([a-z\s]+)[/]?$ /?lab=$1 [NC,L]
RewriteRule ^espacios/([a-z\s]+)(.*)$ lab=$1&$2 [NC,DPI]

#RewriteRule (.*)[/]+?galeria[/]?$ imagenes.php?$1 [NC,L]

RewriteRule (.*)[/]+?galeria/([0-9]+-[0-9]+-[0-9]+)/(.*)-([0-9]+)$ imagenes.php?$1date=$2&title=$3&vRecID=$4 [NC,L]

RewriteRule (.*)[/]+?galeria/([0-9]+-[0-9]+-[0-9]+)/(.*)-([0-9]+)[&\(vRecIDAnt=\[0-9\]+\)]+?$ imagenes.php?$1date=$2&title=$3&vRecID=$4$5 [NC,L]

#RewriteRule (.*)[/]+?novedades[/]?$ novedades.php?$1 [NC,L]

RewriteRule (.*)[/]+?novedades/([0-9]+-[0-9]+-[0-9]+)/(.*)-([0-9]+)$ novedades.php?$1date=$2&title=$3&vRecID=$4 [NC,L]

RewriteRule (.*)[/]+?novedades/([0-9]+-[0-9]+-[0-9]+)/(.*)-([0-9]+)&(vRecIDAnt=[0-9]+)*$ novedades.php?$1date=$2&title=$3&vRecID=$4$5 [NC,L]

## Set the response header if the "nocache" environment variable is set
## in the RewriteRule above.
Header always set Cache-Control "no-store, no-cache, must-revalidate" env=nocache

## Set Expires too ...
Header always set Expires "Thu, 01 Jan 1970 00:00:00 GMT" env=nocache