/*::::HEADER::::*/
@media screen and (min-width:768px){
	footer.header
	{
		padding-right: 0;
		padding-left: 0;
	}
	footer.header .label label
	{
		text-align:left;
	}
	footer .FormLabelBox
	{
		display: table;
	}
	footer .FormLabelBox label
	{
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
}
@media screen and (max-width:768px){
	footer.header
	{
		padding:0px;
	}
	footer label
	{
		text-align: center
	}
	footer.header .label label
	{
		text-align:center;
	}
	div.header
	{
		/*::A ojímetro: padding left de .menu li + padding left .menu::*/
		padding-left:22px;
		padding-right:22px;
	}
}
.FooterContainer
{
	margin-bottom: 15px
}
footer.header a
{
	float:none;
}
footer .Footer
{
	padding-right:0px;
}
footer.header form
{
	padding:0px;
}
footer.header
{
	display:table;
	
	float: right;
	height:auto;
	/*:::Evita scroll horizontal en la página:::*/
	overflow: hidden;
	position:relative;
	color:white;
	background:dimgray;
	background-color:dimgray;
	z-index: 0;
	box-shadow:0px 1px 10px black;
}
footer div.FooterMainContainer, body footer
{
	padding-left: 0px;
	padding-right: 0px;
}
footer .FormLabelBox label, footer.header h1
{
	color:#CCC9C9;
	text-shadow:0px 0px 2px black;
}
footer.header h1
{
	color:#E9E9E9;
	font-size:25px;
	margin-top:10px;
	text-align:center;
}
footer.header textarea
{
	color:black;
}
footer .FormCliCompactBase input , footer .FormCliCompactBase textarea, footer .FormCliCompactBase select
{
	width:100%;
	margin:10px 0px 10px 0px;
}

footer .FormLabelBox
{
	width:100%;
	position: relative;
	padding:0px;
	display: table;
}
footer .FormLabelBox label
{
	font-size:1.1em;
	letter-spacing: 2px;
	margin: 0;
}
footer .FormLabelBox label.compacto
{
	padding:0px;
	height:30px;
	line-height: 30px;
	top:50%;
	left:5px;
	margin-top:-15px;
}
footer .FormCliCompactBase .clearfix
{
	margin:15px;
}
footer .FormCliCompactBase
{
	margin-bottom: 20px;
}
footer .FormCliCompactBase h1
{
	padding-bottom:15px;
}
footer ul , .header nav ul
{
	list-style: none
}
footer ul.FooterContainer li
{
	margin-bottom:10px;
}
footer .FooterInfoTextBase a, footer .FooterInfoSocial a
{
	border:2px solid transparent;
}
footer .FooterInfoTextBase, footer .FooterInfoSocial
{
	padding:0px;
}
footer .FooterInfoTextBase, footer .FooterInfoLink, footer .FooterInfoSocial a
{
	display:table;
}
footer .FooterInfoTextBase span, footer .FooterInfoLink span a, footer .FooterInfoSocial span
{
	display:table-cell;
	vertical-align: middle;
	width:100%;
	word-break:break-all;
	word-wrap: break-word;
	font-family: monospace;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.1em;
	text-shadow: 0px 0px 2px black;
}
footer div.FooterInfoSocial
{
	margin-bottom:10px;
	font-size: 1.2em
}
.FooterInfoSocial p span
{
	letter-spacing:2px;
	font-size:1.1em;
}
footer .clearboth
{
	clear:both;
	display:block;
}
footer.header img.circulo,footer.header p img
{
	padding: 5px;
	border-radius: 50%;
	border:2px solid white;
	margin-right:5px;
	float: left;
}
div.header
{
	height:			30px	;
}
/*:::Minimapa:::*/
.header nav
{
	float:left;
	text-align:left;
	font-weight:900;
	color:white;
	overflow:visible;
	/*
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.84);
		background-color: rgba(0, 0, 0, 0.76);
	*/
}
.header
{
	padding-top: 	5px		;
	padding-bottom: 5px		;
	/*:::Sobre el menú:::*/
	z-index: 20;
}
.header a,.header small, .MenuNavLang a
{
/*	float:right;*/
	color:silver;
	line-height:20px;
	vertical-align:middle;
}
footer , .header a:hover, .header a:focus
{
	color:white;
	text-decoration:underline
}
@media screen and (max-width:768px){
	div.header
	{
		width: auto;
		float: left;
	}
}
.end
{
	background-color: rgba(0, 0, 0, 0.85);
	padding-bottom: 0px;
}
.end a
{
	padding: 10px
}