/*::::HEADER::::*/
.header
{
	width:100%;
	background:url("./img/barra.png");
	background-repeat:no-repeat;
	display:table;
}
.header a
{
	float:right;
	color:gray;
	margin-right:5%;
	line-height:100%;
	padding:0.8% 1% 0.8% 1%;
}
.header a:hover
{
	color:white;
	text-decoration:underline
}
.idioma
{

}
.idioma img
{
	margin-right:5px;
}
.idioma button
{
	height:auto;
}