*{margin:0px;padding:0px;border:0px;line-height:1.41;}	/*	Reseteo estilos	*/
html , body
{
	min-width:100%;
	min-height:150%;
	background: #00D0D0;
	background: linear-gradient(to top left ,#00D0D0, #9BA3FF);
	background: -webkit-linear-gradient(to top left, #00D0D0 0%, #9BA3FF 100%);
	background: -moz-linear-gradient(to top left, #00D0D0 0%, #9BA3FF 100%);
	background: -o-linear-gradient(to top left, #00D0D0 0%, #9BA3FF 100%);
	background: -ms-linear-gradient(to top left, #00D0D0 0%, #9BA3FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00D0D0', endColorstr='#9BA3FF',GradientType=0 ); /* IE6-9 */
	background-repeat:no-repeat;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a
{
	font-weight:900;
	text-decoration:none;
}
a:hover
{
	color:white;
}
/*::::HEADER::::*/
.header
{
	width:100%;
	background:url("./img/barra.png");
	background-repeat:no-repeat;
}
.header a
{
	float:right;
	color:gray;
	margin-right:5%;
	line-height:100%;
	padding:0.8% 1% 0.8% 1%;
}
.header a:hover
{
	color:white;
	text-decoration:underline
}
.clearfix {
	margin-bottom: 35px;
}
section
{
	background-image:url("./img/fondo_contenido.png");
	background-color:lightgray;
	background-color:rgba(255, 255, 255, 0.75); 
	border-radius:3px;
	box-shadow:-1px -1px 5px #888888;
	padding:2%;
	margin-bottom:5%;
	overflow:hidden;
}

.titulo , .subtitulo
{
	text-align:center;
	font-size:4em;
	color:dimgray;
	margin-bottom:4%;
}
.subtitulo
{
	font-size:3em
}
main
{
	padding-top:1%;
}
