*{margin:0px;padding:0px;border:0px;line-height:1.41;}	/*	Reseteo estilos	*/
html , body
{
	height:100%;
	width:100%;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: auto;
}
html body
{
	background-color:transparent;
}
main
{
	width:100%;
}
html
{
	background-color: #6DB0F1;
	background-image:url("/img/imagenfondo.png");
	background-size:cover;
	min-height:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
}
a
{
	font-weight:900;
	text-decoration:none;
	transition:color 0.5s;
}
body a[href="#header"]
{
	text-decoration: none
}
a.focuseable
{
	border:2px solid transparent;
}
a.focuseable:hover, a.focuseable:focus
{
	border:2px solid yellow;
}
.sangria::first-letter
{
	float:left;
	margin-top:6px;
	font-size:400%;
	font-weight:bold;
	font-family:"monospace";
	color:#F5F5F5;
	text-transform:uppercase;
}
.acciones input, .acciones select{float:none;}

.clearfix {
	clear:both;
}
section, .seccion
{
	background-image:url("./img/fondo_contenido.png");
	background-color:rgba(255, 255, 255, 0.78); 
	border-radius:3px;
	box-shadow:-1px -1px 5px #888888;
	padding:2%;
	margin-bottom:5%;
	overflow:hidden;
}
.titulo , .subtitulo
{
	text-align:center;
	font-size:4em;
	color:dimgray;
	margin-bottom:4%;
}
.subtitulo
{
	font-size:3em
}
main.col-lg-10,main.col-md-10,main.col-sm-10,main.col-xs-12
{
	padding-top:1%;
	min-height: 100%;
	float:right;
	animation-name:main;
	animation-duration:1s;
	-moz-animation-name:main;
	-moz-animation-duration:1s;
	-webkit-animation-name:main;
	-webkit-animation-duration:1s;
}
/* ¿Porqué estaba?
main ul, main ol
{
	margin-left:15px;
}
*/
.contenido, .modulo
{
	clear:both;
	padding-top:15px;
	width:100%;
}

span.center{display:block;width:100%;text-align:center;}
font.through{text-decoration:line-through;}

.sep{border-top:2px dashed gray;clear: both;}
.clearfix .sep
{
	display:none;
}
.js-no-bootstrap
{
	width:100%;
}
.DOMVerMas
{
	clear:both;
	display:block;
	width:100%;
	margin-top:20px;
	border-top: 1px solid rgba(105, 105, 105, 0.64);
	border-bottom: 1px solid rgba(105, 105, 105, 0.64);
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
}
.DOMVerMas a
{
	display:block;
	width:100%;
	text-align: center;
	padding: 10px 0px;
	/*background-color: rgba(29, 29, 29, 0.2);*/
	font-size: 1.3em;
}
body .minimapa
{
	color:#C0C0C0;
	margin-left:5px;
}
body .minimapa a
{
	vertical-align: inherit;
}
section .target, section:target
{
	animation-name:sectionBackground;
	animation-duration:1s;
	-moz-animation-name:sectionBackground;
	-moz-animation-duration:1s;
	-webkit-animation-name:sectionBackground;
	-webkit-animation-duration:1s;
}
.target, :target
{
	animation-name:allAnchor;
	animation-duration:1s;
	-moz-animation-name:allAnchor;
	-moz-animation-duration:1s;
	-webkit-animation-name:allAnchor;
	-webkit-animation-duration:1s;
}
@keyframes sectionBackground
{
	from
	{
		background-color:rgba(220, 220, 220, 0.78); ;
	}
	to
	{
		background-color:rgba(255, 255, 255, 0.78); 
	}
}
@keyframes allAnchor
{
	from
	{
		background-color:yellow;
	}
	to
	{
		background-color:transparent
	}
}
@-moz-keyframes allAnchor
{
	from
	{
		background-color:yellow;
	}
	to
	{
		background-color:transparent
	}
}
@-webkit-keyframes allAnchor
{
	from
	{
		background-color:yellow;
	}
	to
	{
		background-color:transparent
	}
}
@keyframes main
{
	from
	{
		opacity:0;
		margin-right:-200px;
	}
	to
	{
		opacity:1;
		margin-right:0px;
	}
}
@-moz-keyframes main
{
	from
	{
		opacity:0;
		margin-right:-200px;
	}
	to
	{
		opacity:1;
		margin-right:0px;
	}
}
@-webkit-keyframes main
{
	from
	{
		opacity:0;
		margin-right:-200px;
	}
	to
	{
		opacity:1;
		margin-right:0px;
	}
}