.atajos .atajo
{
	font-family:monospace;
	background-color:white;
	/*background:transparent linear-gradient(to bottom, #E1E1E1, #FCFCFC) repeat scroll 0% 0%;*/
	background:transparent linear-gradient(to right bottom, #C4D1FF, #CEE5FF) repeat scroll 0% 0%;
	border-radius:2px;
	text-align:center;
	min-width:5em;
	display:inline-block;
	padding:1px 6px 1px 6px;
	border:1px outset silver;
}
.atajos .mas
{
	display:inline-block;
	font-weight:bold;
	font-size:1.4em;
	vertical-align: middle
}
body .atajos tbody tr td
{
	border-top: 1px solid rgba(105, 105, 105, 0.64);
}
body .atajos thead tr th
{
	border-bottom: 1px solid rgba(105, 105, 105, 0.64);
}