.calendario{font-family:georgia}
.calendario p{margin:0px}
.calendario .clearfix {
	margin-bottom: 35px;
}
.calendario table
{
	width:90%;
	background-color:silver;
	table-layout:fixed;
	box-shadow:-0px -0px 5px rgba(255,255,255,0.75);
	border-radius:2px;
	margin: 0 auto;
}
.calendario td,.calendario th
{
	text-align:center;
	padding:0px 5px 0px 5px;
	background-image: url("../img/fondo_contenido.png");
	overflow:hidden;
}
.calendario tbody td:hover
{
	font-weight:bold;
}
.calendario .evento
{
	background-color:dimgray;
	border-radius:2px;
}

.ano
{
	text-align:center;
	font-size:4em;
	color:dimgray;
	margin-bottom:4%;
}

.muted p
{
	visibility:hidden
}