.calendario div
{
	width:100%;
	display:inline-block
}
.calendario table
{
	background-color:silver;
	font-family:georgia;
	border-radius:3px;
	float:left;
	width:40%;
	margin:0px 6.66% 0px 6.66%;
	table-layout:fixed;
	box-shadow:-1px -1px 5px #888888;
}
.calendario table:first-child
{
	margin: 0px 0px 0px 6.66%
}
.calendario .muted
{
	opacity:0.5;
}
.calendario td,.calendario th
{
	text-align:center;
	padding:0px 5px 0px 5px;
	background-image: url("../img/fondo_contenido.png");
	overflow:hidden;
}
.calendario tbody td:hover
{
	font-weight:bold;
}
.calendario .evento
{
	background-color:dimgray;
	border-radius:3px;
}
.calendario thead th a
{
	border-spacing:20px;
}
.ano
{
	text-align:center;
	font-family: Georgia;
	font-size:4em;
	color:dimgray;
	margin-bottom:4%;
}

.muted p
{
	visibility:hidden
}