.calendario table,.calendario h3{font-family:georgia}
.calendario table p{margin:0px}
.calendario table
{
	width:100%;
	table-layout:fixed;
	margin: 0 auto;
	position:relative;
	top:0;
	margin-top:10px;
	margin-bottom:10px;
	/* En Celeste */
	background-color:white;
	color:#4A4A4A;
	box-shadow:0px 0px 5px #A49999;
	/* Fix: http://stackoverflow.com/questions/6356852/css-gradients-repeating-in-chrome-when-set-to-tbody-thead

	El siguiente va a ser el color de fondo del thead.
	*/
	background:transparent linear-gradient(to right bottom, #C4D1FF, #CEE5FF) repeat scroll 0% 0%;
	
	/* En Negro */
	/*
	color: #C0C0C0;
	text-shadow: 0px 0px 2px #000;
	box-shadow:0px 0px 35px #696969 inset;
	font-weight:bold;
	*/
}
.calendario .desc
{
	background-color:silver;
	box-shadow:0px 0px 5px #A49999;
	border:1px solid #98A3BC;

	background:transparent linear-gradient(to right bottom, #C4D1FF, #CEE5FF) repeat scroll 0% 0%;
	padding:7px;
	margin-top:10px;


	/* En Negro */
/*	background:transparent linear-gradient(to right bottom, #747474, #787878) repeat scroll 0% 0%;
	color: #C0C0C0;
	text-shadow: 0px 0px 1px #000;
	box-shadow:0px 0px 35px #696969 inset;

	font-weight:bold;
*/
}
.calendario .desc ul
{
	list-style: none;
}
.calendario .desc li
{
	border-bottom:2px solid gray;
}
.calendario .desc li:last-child
{
	border:none;
}
.calendario .desc .fecha
{
	font-size:0.8em;
	/*color:dimgray;*/
	margin:0px;
}
.calendario .desc h3
{
	margin:10px 0px 10px 10px;
}
.calendario .desc p{margin-left:2%;}
.calendario thead
{
	/* En Celeste */

	border:1px solid #98A3BC;

	/* En Negro */
	/*
	background:transparent linear-gradient(to right bottom, #747474, #787878) repeat scroll 0% 0%;
	border:1px solid #686868;
	*/
}
.calendario thead th
{
	background:transparent;
}
.calendario thead th
{
	border:0px solid;
}
.calendario td,.calendario th
{
	text-align:center;
	overflow:hidden;
	padding: 10px;
	font-weight:bold;

	/* En Celeste */
	
	
	
	/* En Negro */
/*	border:1px solid #686868;	*/
}
.calendario td,.calendario th, .hoy , .evento
{
	border:1px solid #98A3BC;
}
.calendario tbody td
{
	/*background: transparent linear-gradient(to bottom right, #EFEAEA, #FCFCFC) repeat scroll 0% 0%;*/
	/*background:transparent linear-gradient(to right bottom, #CBDDEA, #E2F3FF) repeat scroll 0% 0%*/
	background:transparent linear-gradient(to right bottom, #C4D1FF, #CEE5FF) repeat scroll 0% 0%; /* Celeste */
	/*background:transparent linear-gradient(to right bottom, #747474, #787878) repeat scroll 0% 0%; *//* Negro */
}
.calendario tbody tr:last-child td
{
	padding-bottom:7px;
}
.calendario td.evento, .evento
{
	/*
	font-weight: bold;
	color: #C3C3C3;
	text-shadow: 0px 0px 3px #000;
	background-color: rgb(117, 117, 117);
	*/
	/*box-shadow: 0px 0px 2px black inset;*/
	background:transparent linear-gradient(to right bottom, #4DD2D2, #43B3B3) repeat scroll 0% 0%;
}
.muted p
{
	visibility: hidden
}
.calendario td.hoy, .hoy
{
	background:transparent linear-gradient(to right bottom, #808EDD, #5566C8) repeat scroll 0% 0%;
}
.hoy , .evento
{
	text-shadow: 0px 0px 2px #151515;
	color:white;
}
div.calRef
{
	padding-left:0px;
}
.calRef span
{
	height:27px;
	line-height:27px;
	display:block;
	float:left;
	padding-left:0px;
	text-align: center;
}
span.hoy, span.evento
{
	width:27px;
	margin-left:15px;
	float:right;
}
#cal h3 input
{
	height:1em;
	position:absolute;
	right:20px;
}
