@media screen and (max-width:768px){
	body #panel_ruta{min-height:0px;}
	#gmapsDiag form input,#gmapsDiag form select
	{
		margin-bottom:7px;
		margin-top:7px;
	}
	#gmapsDiag .gris
	{
		margin-bottom:0px;
	}
	#gmapsDiag,#map-canvas{min-height:200px;}
	#gmapsDiag{padding-top:25px;}
	footer label{text-align: center}
	#gmapsDiag form,#panel_ruta
	{
		top:25px;
	}
	footer .footer
	{
		padding-left:0px;
	}
}
@media screen and (min-width:768px){
	#gmapsDiag,#map-canvas{min-height:300px}
	#gmapsDiag .gris
	{
		float: right;
		margin-top:10px;
	}
	#gmapsDiag form label
	{
		padding-left:0px;
	}
	#gmapsDiag form,#panel_ruta
	{
		top:0px;
	}
}
@media screen and (min-width:992px){
	#map-canvas,#gmapsDiag{min-height:400px}
}
@media screen and (min-width:1170px){
	#map-canvas,#gmapsDiag{min-height:450px}
}
/*
#gmapsDiag .right{float:right;}
#gmapsDiag .left{float:left}
#gmapsDiag{clear:both;}
#panel_ruta{float:left;min-height:300px;min-width:20%;}
*/
#map-canvas{width:100%;display: block;}
#gmapsDiag
{
	position:relative;
}
#gmapsDiag h3{margin-bottom:30px;text-align:center;}
#gmapsDiag label
{
	font-size:1.2em;
	letter-spacing: 2px;
}
#gmapsDiag #buscar{width:100%;}
#gmapsDiag .gris
{
	color:white;
	font-weight:bold;
	text-align:center;
	text-shadow:0px 0px 1px black;
	font-family:monospace;
	padding:0px;
}
.adp-list, .adp
{
	background-color:white;
	box-shadow:0px 0px 3px #7b7b7b;
}
#panel_ruta
{
	width:100%;
	padding-right:0px;
	padding-left:0px;
}
#panel_ruta button
{
	font-family: monospace;
	color:black;
	min-height: 1.7em;
	display:none;
}
.aparece
{
	animation-name:aparece;
	animation-duration:1s;
}
.esconde
{
	animation-name:esconde;
	animation-duration:1s;
}
@keyframes aparece{
	from
	{
		z-index:1;
		opacity:0;
		position:absolute;
		padding-right:30px;
	}
	to
	{
		z-index:10;
		opacity:1;
		position:static;
		padding-right:30px;
	}
}
@keyframes esconde{
	from
	{
		z-index:10;
		opacity:1;
		position:static;
	}
	to
	{
		z-index:1;
		opacity:0;
		position:absolute;
	}
}