.gImg img
{
	border-radius:2px;
}
.gImg button
{
	text-align:center;
	display:inline;
	position:relative;
	overflow:hidden;
	height:auto;
	width:auto;
	background-color:dimgray;
	color:white;
	box-shadow: 0px 0px 3px black;
	margin:auto;
	transition:box-shadow 0.7s;
}
.gImg button:hover
 {
 	box-shadow: 0px 0px 5px blue;
 }
.gImg
{
	text-align:center;
	margin-top:10px;
}
.gImg .eImg
{
	position:absolute;
	right:0px;
	top:0px;
	height:1em;
}
.gImg input{box-shadow:0px 0px 3px white;border-radius:2px}