.nImg
{
	text-align:center;
	padding-top:1em;
}
.gImg img
{
	border-radius:2px;
}
.gImg
{
	background-color:silver;
	text-align:center;
	background-image: url("../img/fondo_contenido.png");
	box-shadow:-0px -0px 5px rgba(255,255,255,0.75);
	border-radius:2px;
	padding-bottom:2em;
}
.gImg .eImg
{
	position:absolute;
	right:0.5em;
	top:0px;
}
input ,button{box-shadow:0px 0px 3px white;border-radius:2px}
input,form a{height:3em}
label{font-size:2em}
button,form a{display:block;height:3em;background-color:silver}

.comentarios
{
	background-color:red;
	border-radius:3px;
}

iframe
{
	background-color:transparent;
	position:fixed;
	overflow:hidden;
	top:0px;
	left:0px;
}