input ,button{box-shadow:10px 4px 10px grey;border-radius:2px}
input{height:3em}
label{font-size:2em}
button{display:block;height:3em;border: groove; box-shadow: 5px 1px 5px grey;}
.cacho { 
	background:rgba(255, 255, 255, 0.35)  no-repeat left top;
	border-radius:3px;
	box-shadow:-3px -3px 10px #888888;
	padding:2%;
	margin-bottom:5%;
	overflow:hidden;
	margin-left: 30% ;
	margin-top: 18%
}

html,body {
	background:url('../img/nubes.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
	min-height:100%
}
