label{font-size:1.5em;color:black;}
html,body
{
	height:100%;
}
html body {
	
	background-color: transparent;
}
html
{
	background:url('/img/lightdm.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.pestanas .pestana
{
	float:left;
	text-align:center;
	border-left:1px solid gray;
}
.pestanas .pestana:first-of-type
{
	border-left:none;
}
.pestanas
{
	overflow: hidden;
}
#panel
{
	border-radius:3px;
}
#cerrar
{
	position:absolute;
	right:15px;
}
.cuadroOpc
{
	width:90%;
	margin-left:5%;
	border:2px solid blue;
	border-radius:3px;
	overflow:hidden;
	text-align:center;
}
.cuadroOpc .bottom
{
	background-color:#444444;
	font-weight: bold;
	font-size: 1.5em;
	font-family:impact;
	color:silver;
}
.cuadroOpc .bottom:hover
{
	background-color:#4E4E4E;	
}
.cuadroOpc>div>p
{
	float:left;
	width:33.3333%;
	text-align:center;
	font-weight: bold;
	margin:0px;
	background-color:silver;
}
.cuadroOpc span
{
	display:block;
	overflow:hidden;
	clear:both;
}
.cuadroOpc span p
{
	display:table-cell;
	vertical-align:middle;
	width:33.3333%;
	float:left;
	background-color:inherit;
	margin:0px;
	text-align: center;
	font-size:1.1em;
	height:2em;
}
.cuadroOpc input
{
	height:auto;
	box-shadow: none;
	background-color:transparent;
	border:none;
	width:80%;
	margin-left:25%;
}
.panel-admin
{
	min-width:500px;
	min-height: 500px;
	background-color:white;
}
.MSGLogin
{
	position: relative;
}
.MSGLogin a
{
	position: absolute;
	right:15px;
}