.menu
{
	/*width:15.45%;*/
	/*:::Impide el funcinamiento del selector de lenguaje:::*/
	/*overflow:hidden;*/
	color:silver;
	margin:0;
	left:0;
	top:0;
	background-color: rgba(0, 0, 0, 0.85);
	display:inline-block;
	/*:::Debajo del header, encima de las imágenes de la galería:::*/
	z-index:15;
	box-shadow: 1px 0px 10px black;
}
.inset h1
{
	font-size:1.3em;
	text-align: center;
	border-bottom: 1px solid dimgray;
	padding-bottom: 3px;
	margin:5px 0px 0px 0px;
}
.MenuNavMain li a img
{
	width:32px;
	height:32px;
}

/*:::IDIOMA:::*/;

.DOMLangTxtContainer
{
	/*
		Agrupo el texto y lo floto a la derecha para que el ul
		con los idiomas no se baje.
	*/;
	float: left;
}
.MenuNavLang
{
	position:relative;

	/*:::Igual que en .zoom y .titulo:::*/
	color:dimgray;

	/*:::Revert Bootstrap:::*/
	margin-bottom: 0px;
}
.MenuNavLang:hover
{
	color:white;
}
/*:::Boton Lenguaje:::*/
.MenuNavLang .FirstLang span
{
	padding: 10px;
	vertical-align: middle;
}
.MenuNavLang li
{
	position: relative;
	left:0;
	list-style: none;
}
.MenuNavLang a
{
	position: relative;
	z-index:0;
	opacity:0;
	display:block;

	/*:::Mismo que el menú:::*/
	background-color:rgba(0, 0, 0, 0.85);
}
.MenuNavLang:hover a,.MenuNavLang li:hover a, .MenuNavLang:focus a, .MenuNavLang a:focus, .focus a
{
	transition: opacity, 0.5s;
	opacity:1;
	/*:::Encima de las opciones de menú, en xs:::*/;
	z-index: 15;
}
.MenuNavLang li a img
{
	opacity:0.5;
}
nav.MenuNavLang a:hover, nav.MenuNavLang a:focus
{
	color:white;
}
nav.MenuNavLang a:hover img, nav.MenuNavLang a:focus img
{
	transition: opacity, 0.5s;
	opacity: 1;
}
/* Espacio entre la bandera del idioma y el nombre del idioma */
.MenuNavLang img
{
	margin-right:5px;
}

/*:::Logo - Contenedor:::*/
.menu div div
{
	width:100%;
	float:left;
	border-top:1px solid dimgray;
}	/*	.menu div es el contenedor del logo	*/
.MenuNavMain img
{
	/*:::Se escala a 64x64:::*/
	width:64px;
	height:64px;
	margin:0px;
	vertical-align:middle
}	/*	Logo ( Imagen )	*/
.menu div span a
{
	text-align:center;
	display:block;
	padding-top:15px;
	padding-bottom: 15px
}	/*	Logo ( Letras )	*/
.menu .LabNameContainer
{
	color:white;
	display: block;
	text-shadow:0px 0px 3px #474646;
	font-size: 2em;
	/*:::Por alguna razón se exede de su altura:::*/
	line-height:100%;
	/*:::La misma cantidad que el padding top/bottom en .menu span:::*/
	margin-top:15px;
}
nav ul
{
	list-style:none
}	/*	Contenedor opciones menu	*/
.menu .FormCliSecAddMenu input, .MenuNavMain a
{
	color:gray;
	text-shadow: 0px 0px 4px black;
}
.MenuNavMain a
{
	padding:10px;
	font-family: Georgia;
	vertical-align:middle;

	/*:::Para los íconos absolutos:::*/
	position: relative;
}
.MenuNavMain li a:hover , .MenuNavMain li>a:focus
{
	text-decoration:underline;
	color:white;
}
/*
	.menu .resalta , .MenuNavMain li>a:active , .MenuNavMain li>a:focus.resalta
	{
		color:white;
	}
.MenuNavMain li a:hover.resalta
{
	background-color:#929193;
}
*/
@media screen and (min-width:768px){
	nav ul
	{
		width:100%;
	}
	.zoom
{
	overflow: hidden;
	margin-top:10px;
}

	div.menu
	{
		height: 100%;
		padding-top:30px;
		position: fixed;
	}
	nav.MenuNavMain
	{
		margin-bottom: 15px;
	}
	nav.MenuNavMain ul
	{
		display:table;
	}
	nav.MenuNavMain li
	{
		display:table-row;
		width:100%;
		margin-left:2%
	}	/*	Opciones Menu	*/
	nav.MenuNavMain a
	{
		display:table-cell;
	}
	nav.MenuNavMain li a img
	{
		position: absolute;
		right: 10px;
		margin-top: -16px;
		top: 50%;
	}
	nav.MenuNavLang ul
	{
		height: 0px;
		margin: 0px;
		position: absolute;
		width: 100%;
		top:-2px;
		/*:::Mismo padding que el menú:::*/
		left: 17px;
	}
	.MenuNavLang .FirstLang img
	{
		margin-left:7px;
	}
	nav.MenuNavLang:hover a,nav.MenuNavLang li:hover a, nav.MenuNavLang:focus a, nav.MenuNavLang a:focus, .focus a
	{
		left: 100%;
	}
}
@media screen and (max-width:768px){
	nav.MenuNavMain
	{
		clear: both;
	}
	nav.MenuNavLang
	{
		height:2em;
		float: right;
	}
	nav.MenuNavLang li a:focus
	{
		top:1000px;
	}
	nav.MenuNavLang:hover ul, nav.MenuNavLang:focus ul
	{
		top:0;
	}

	nav.MenuNavLang ul
	{
		/*:::Para que no sea molesta la zona interactiva:::*/
		position: relative;
		top:-1000px;

		/*:::Para que las banderitas queden alineadas:::*/
		left:-2px;
	}

	div.menu
	{
		/*::El mismo background del header::*/
		background-color: rgba(0, 0, 0, 0.76);
		top:0;
		left:0;
		/*z-index:10;*/
		/*::Padding Left y Right alineados a ajímetro a main Left y Right::*/
		padding:0;
		margin:0;
		border-radius:0;
	}
	nav.MenuNavMain li
	{
		border-right:1px dashed silver;
		float: left;
		text-align: center;
	}
	nav.MenuNavMain li:last-child
	{
		border-right: 0px solid;
	}
	nav.MenuNavMain li.noIcon a
	{
		/*:::10px + 32px de la imagen:::*/
		padding-top: 42px;
	}
	nav.MenuNavMain a
	{
		display: block;
		text-align:center;
	}
	nav.MenuNavMain a:hover
	{
		text-shadow: none;
	}
	div.menu ul
	{
		margin-bottom:0px;
	}
	div.MenuNavMain li a:hover, .MenuNavMain li a:focus, .MenuNavMain li> a:focus.resalta, .menu .resalta
	{
		color:white;
		text-decoration:underline;
		background:transparent;
	}
	div.menu .resalta
	{
		background-color:transparent;
	}
	div.menu li form.right
	{
		display: block;
	}
	div.menu li form.right input.elimina
	{
		float:left;
	}
	.MenuNavMain li a img
	{
		display: block;
		position: relative;
		margin-left:50%;
		left:-16px;
	}
	h1.titulo, body .MenuNavLang,body .zoom
	{
		float:left;
		margin-left:10px;
		color:dimgray;
	}
}
body .shortcutSpan
{
	text-decoration: underline;
}
.zoom .zoom-minus, .zoom .zoom-more, .zoom .zoom-reset
{
	background:inherit;
	color:inherit;
	padding: 0;
	border-radius: 3px;
	transition: color 0.5s;
	text-align: center;
	height: 2em;
	word-wrap:  break-word;
}
.zoom-minus:hover, .zoom-minus:focus, .zoom-more:hover,.zoom-more:focus ,.zoom-reset:hover ,.zoom-reset:focus
{
	color:white;
}
.zoom
{
	color:dimgray;
}