.menu
{
	background-color:lightgray;
	background-image:url("../img/fondo_contenido.png");
	width:15.45%;
	overflow:hidden;
	position:fixed;
	margin:1% 0px 1% 0%;
	border-top-left-radius:5px;
	box-shadow:-1px -1px 5px #888888;
	display:inline-block
}
.menu div
{
	margin-top:5%;
	background-image:url("../img/fondo_contenido.png");
	width:100%;
	float:left
}	/*	Menu div es el contenedor del logo	*/
.menu div img
{
	width:60px;
	height:80px;
	padding:5% 0px 5% 0px;
	vertical-align:middle
}	/*	Logo (imagen)	*/
.menu div h2
{
	color:white;
	text-align:center
}	/*	Logo (Letras)	*/
.menu nav ul
{
	display:table;
	width:100%;
	list-style:none
}	/*	Contenedor opciones menu	*/
.menu nav li
{
	display:table-row;
	width:100%;
	margin:3% 0px 3% 0px;
	margin-left:2%
}	/*	Opciones Menu	*/
.menu nav li:hover
{
	color:black;
	
}
.menu nav a
{
	padding-left:5px;
	color:inherit;
	font-family: Georgia;
	display:table-cell;
	vertical-align:middle;
	padding:5%
}
.menu .resalta , .menu nav li>a:active , .menu nav li>a:focus.resalta
{
	color:black;
	background-color:#929193;
	background-image:url("../img/fondo_contenido.png");
	border-left:3px solid #929193;
	}
.menu nav li>a:hover , .menu nav li>a:focus
{
	text-decoration:underline;
	background-color:silver;
}
.menu nav li>a:hover.resalta
{
	background-color:#929193;
}
.menuSup
{
	background-image:url("../img/barra.png");
	top:0;
	left:0;
	z-index:10;
	padding:0.2% 0.8% 0.2% 0.8%;
	border-radius:3px;
	width:100%;
	
}
.menuSup a
{
	color:gray;
	padding:0px 5px 0px 5px;
	border-right:1px dashed silver;
	display:inline-block;
	font-size:0.8em
}
.menuSup a:hover, .menuSup #resaltaOpc
{
	color:white;
	text-decoration:underline
}
.puntos
{
	position:fixed;
	background-color:silver;
	left:0;
}
.puntos h1
{
	padding:0pc
}
.puntos h1:hover
{
	color:white;
}