div.menu
{
	background-color:lightgray;
	background-image:url("../img/fondo_contenido.png");
	width:15.45%;
	overflow:hidden;
	position:fixed;
	margin:1% 0px 1% 0px;
	left:10px;
	border-top-left-radius:5px;
	box-shadow:0px 0px 5px #888888;
	display:inline-block;
	padding:0px;
	animation-name:menu;
	animation-duration:1s;
	-moz-animation-name:menu;
	-moz-animation-duration:1s;
	-webkit-animation-name:menu;
	-webkit-animation-duration:1s;
	z-index:1;
}
.menu:hover
{
	z-index:7;
}
.menu div
{
	margin-top:5%;
	background-image:url("../img/fondo_contenido.png");
	width:100%;
	float:left
}	/*	Menu div es el contenedor del logo	*/
.menu div img
{
	width:60px;
	height:60px;
	margin:0px;
	vertical-align:middle
}	/*	Logo (imagen)	*/
.menu div h2 a
{
	text-align:center;
	display:block;
}	/*	Logo (Letras)	*/
.menu div h2 a span
{
	color:white;
	display: block;
	text-shadow:0px 0px 3px #474646
}
.menu nav ul
{
	display:table;
	width:100%;
	list-style:none
}	/*	Contenedor opciones menu	*/
.menu nav li
{
	display:table-row;
	width:100%;
	margin:3% 0px 3% 0px;
	margin-left:2%
}	/*	Opciones Menu	*/
.menu nav li:hover
{
	color:black;
}
.menu nav a
{
	padding:10px;
	color:inherit;
	font-family: Georgia;
	display:table-cell;
	vertical-align:middle;
}
.menu .resalta , .menu nav li>a:active , .menu nav li>a:focus.resalta
{
	color:black;
	background-color:#929193;
	background-image:url("../img/fondo_contenido.png");
	border-left:3px solid #929193;
}
.menu nav li>a:hover , .menu nav li>a:focus
{
	text-decoration:underline;
	background-color:rgba(117, 117, 117, 0.27);
}
.menu nav li>a:hover.resalta
{
	background-color:#929193;
}

@media screen and (max-width:768px){
	div.menu
	{
		background:url("../img/barra.png");
		top:0;
		left:0;
		z-index:10;
		padding:0.2% 0.8% 0.2% 0.8%;
		border-radius:3px;
		width:100%;
		margin:0px;
		position:static;
	}
	div.menu nav li
	{
		padding:0px 5px 0px 5px;
		border-right:1px dashed silver;
		display:inline-block;
		font-size:0.8em;
		width:auto;
		margin-left:0%;
	}
	div.menu nav a
	{
		color:gray;
		display:inline;
		padding:0px;
		text-align:center;
	}
	div.menu ul
	{
		margin-bottom:0px;
	}
	div.menu nav li a:hover, .menu nav li a:focus, .menu nav li> a:focus.resalta, .menu .resalta
	{
		color:white;
		text-decoration:underline;
		background:transparent;
	}
	div.menu .resalta
	{
		background-color:transparent;
	}
}
body .shortcutSpan
{
	text-decoration: underline;
}
@keyframes menu
{
	from
	{
		opacity:0;
		left:-20px;
	}
	to
	{
		opacity:1;
		left:10px;
	}
}
@-moz-keyframes menu
{
	from
	{
		opacity:0;
		left:-20px;
	}
	to
	{
		opacity:1;
		left:10px;
	}
}
@-webkit-keyframes menu
{
	from
	{
		opacity:0;
		left:-20px;
	}
	to
	{
		opacity:1;
		left:10px;
	}
}