.novedad:last-child{border-bottom:0px solid;}
.novedad img{float:left;border-radius:3px;width:100%}
.novedad>div{padding-top:30px;}
.novedad{padding-top:1em;border-bottom:1px solid white;}
.novedad h3{margin-top:0px;padding-top:30px;}
/*
Por bootstrap, que le da a las imágenes 15px de padding.
*/
.novedad p{margin-left:15px;}
.novedad .fecha{text-align:right;color:dimgray;clear:both;margin-top:1em}
.novID{float:right;}
iframe{z-index:5;}