@media screen and (max-width:768px){
	.novedad h2{text-align:center;margin-top:10px;}
	.novedad div img{margin-bottom:10px;}
}
@media screen and (min-width:768px){
	.novedad h2{margin:0px 0px 10px 15px;}
}
.novedad:last-child{border-bottom:0px solid;}
.novedad div img{float:left;border-radius:3px;width:100%;box-shadow:0px 0px 5px black;}
.novedad>div{}
div.novedad{padding:3em 0px 1em 0px;border-bottom:1px solid darkgray}
.novedad h2{padding-top:0px;clear:right;color:#F5F5F5;text-shadow: 0px 0px 2px black;}
/*
Por bootstrap, que le da a las imágenes 15px de padding.
*/
.novedad p{margin-left:15px;margin-top:0px;font-size:1.2em;letter-spacing:1px;word-spacing:3px;}
.novedad p img{float:none;}
code, blockquote{float:none;display:block;}
.novedad table{border:1px solid gray;}
.novedad iframe{position:static;}
.novedad .fecha{text-align:right;color:dimgray;clear:both;margin-top:1em}
.novID{float:right;}
.novedad input[type="checkbox"]{position:absolute;right:0;top:0}
.novedad .sangria::first-letter
{
	margin:6px 15px 0px 0px;
	text-shadow:0px 0px 2px black;
}