/*:::::ORGANIGRAMA:::::*/
.organigrama, .organigrama *
{
	list-style: none;
	list-style-position: outside;
	padding:0px;
}
.organigrama li, .organigrama ul li
{
}
.organicaja
{
	font-family:  monospace;
	text-align: center;
	background-color:none;
	background-image:none;
	border:1px solid rgba(105, 105, 105, 0.64);
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07) inset;
	color: #414141;
	border-radius: 5px;
	background-color:rgba(0, 39, 255, 0.12)
}
ul li ul .organicaja
{
	margin-top:10px;
}
.organicaja h1
{
	margin-top:0px;
	margin-bottom:0px;
	line-height: 1.6em;
	padding: 3px;
}
body .organigrama input.boton-seccion
{
	max-width:none;
	margin:auto;
	animation:none;
}
body .organigrama input.boton-seccion:hover
{
	animation:none;
}
.organigrama ul li div h1
{
	font-size:1.6em;
}
.organigrama ul li div
{
	background-color:rgba(11, 188, 0, 0.1)
}
.organigrama ul li ul li div
{
	background-color:rgba(255, 0, 0, 0.1);
}
.organigrama ul li ul li ul li div
{
	background-color:rgba(255, 243, 0, 0.39);
}
body .organigrama a
{
	text-shadow:none;
}
body .organigrama ul li
{
	padding:3px;
}
.organigrama a:focus{border:2px solid yellow;}
/*
.colorC
{
	background-color:#BFFF00;
}
*/