/*:::::ORGANIGRAMA:::::*/
.organicaja , .organicaja1, .organicaja2, .organicaja3, .organicaja4
{
	box-shadow:-0px -0px 3px rgba(255,255,255,0.75);
	border-radius:3px;
	background-image:url("../img/fondo_contenido.png");
	background-color:silver;
	border:1px solid silver;
	text-align:center;
	margin-top:5%;
	padding:5%;
}
.organicaja1
{
	
	margin-left:0% 20% 0% 20%;
	padding:0%;
}
.organicaja2
{
	background-color:#FF4000;
}
.organicaja3
{
	background-color:#FFBF00;
}
.organicaja4
{
	background-color:#BFFF00;
}
