#sobre
{
	line-height:1.5em;
	font-size:1.2em;
}
#sobre h1
{
	font-size:2em;
	padding:0px 0px 1% 12%;
}
#sobre h2
{
	padding:1% 1% 0% 6%
}
#sobre p
{

}
#sobre ul
{
	list-style-type:decimal;
	list-style-position:inside;
	margin-left:2%;
}