#sobre
{
	line-height:1.5em;
	font-size:1.2em;
}
#sobre h1
{
	font-size:2em;
	padding:0px 0px 2% 12%;
}
#sobre ul li
{
	list-style-type: decimal;
}
#sobre ul:last-child li
{
	list-style-type:none;
}
#sobre h2
{
 font:normal 55pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 -2px 0 #c9c9c9,
 0 -3px 0 #bbb,
 0 -4px 0 #b9b9b9,
 0 -5px 0 #aaa,
 0 -6px 1px rgba(0,0,0,.1),
 0 -0 5px rgba(0,0,0,.1),
 0 -1px 3px rgba(0,0,0,.3),
 0 -3px 5px rgba(0,0,0,.2),
 0 -5px 10px rgba(0,0,0,.25),
 0 -10px 10px rgba(0,0,0,.2),
 0 -20px 20px rgba(0,0,0,.15);
	/*text-shadow: #2c2c2c 3px 3px 5px;
	color: #222;
	/*text-shadow: 0px 2px 3px #555;
	font-size:2em;
	padding:0px 0px 2% 12%;*/
}
#sobre h2
{
	 font:normal 30pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 -2px 0 #c9c9c9,
 0 -3px 0 #bbb,
 0 -4px 0 #b9b9b9,
 0 -5px 0 #aaa,
 0 -6px 1px rgba(0,0,0,.1),
 0 -0 5px rgba(0,0,0,.1),
 0 -1px 3px rgba(0,0,0,.3),
 0 -3px 5px rgba(0,0,0,.2),
 0 -5px 10px rgba(0,0,0,.25),
 0 -10px 10px rgba(0,0,0,.2),
 0 -20px 20px rgba(0,0,0,.15);
	padding:3% 1% 0% 6%
}
#sobre p
{
 margin-left:15px;
}
#sobre ul
{
	list-style-type:decimal;
}
#sobre ul
{
	list-style-position:inside;
}