#sobre
{
	background-image:url("../img/fondo_contenido.png");
	background-color:lightgray;
	padding:0% 0px 0% 0px;
	line-height:1.5em;
	font-size:1.2em;
	box-shadow:-1px -1px 5px #888888;
}
#sobre h1
{
	font-size:2em;
	padding:2% 2% 1% 12%;
}
#sobre h2
{
	padding:1% 1% 0% 6%
}
#sobre p
{
	padding:0px 2% 2% 2%;
}
#sobre ul
{
	list-style-type:decimal;
	list-style-position:inside;
	margin-left:2%;
}