.visor a>img
{
	width:100%;
	height:100%;
	vertical-align: middle
}
.visor div>a{}

.imgCont{margin:auto}
.imgCont>img
{
	box-shadow:-0px -0px 5px white;
}
.visor h2
{
	text-align:center;
	color:white;
	padding:5px;
	margin:0px
}
.comentarios
{
	background-color:red;
	border-radius:3px;
}

@media screen and (max-width: 1000px)
{
	 .visor div a img
	{
		width:50%;
		height:50%;
	}
}