body,html{background:rgba(0,0,0,0.7);min-height:100%;}

.flecha{height:100%;width:10%;display:block;float:left;position:absolute;}
.flecha:last-child{top:0;right:0;}

.flecha img
{
	width:100%;
	-moz-transition:opacity 0.5s;
	-webkit-transition:opacity 0.5s;
	opacity:0.7;
	vertical-align: middle;
	height:100%;
	padding-top:150%;
	padding-bottom:150%;

}
.flecha img:hover
{
	opacity:1;
}
.flecha a {display:table-cell;vertical-align: middle}
.imgCont{width:100%;text-align:center;position:relative;}
.imgCont img{max-width:80%}
h2
{
	text-align:center;
	color:white;
	padding:5px;
	margin:0px
}
.comentarios
{
	background: #00D0D0;
	margin:3% 0px 3% 0px;
	background-image:url("../img/fondo_contenido.png");
	background-color:rgba(255, 255, 255, 0.75); 
	border-radius:3px;
	padding:2%;
	overflow:hidden;
}
.formRes
{
	float:left;
	padding:0px;
}
.formRes input
{
	-moz-transition:box-shadow 0.5s;
	height:auto;
	width:auto;
	margin-left:7px;
	border:0px solid;
	box-shadow: none;
	background-color:#A4A4A4;
	border:1px solid silver;
	border-radius:1px solid silver;
	color:silver;
	box-shadow: 0px 0px 1px transparent;
	margin-right:5px;
}
.formRes input:hover , .formRes input:focus
 {
 	color:white;
 	background-color:gray;
 	box-shadow: 0px 0px 1px white;
 }
 .comResTxt{color:gray;font-size:90%;}
.comentario
{
	margin-bottom:20px;
}
.comentario>input
{
	float:left;
	display:block;
	height:auto;
	width:auto;
}
.comentario>p
{
	padding-left:0px;
}
.comCont{clear:both}
.nComentForm{position:relative;bottom:0px;display:inline-block;}
.nComentForm input:last-child{display:block;clear:both;float:none;width:100%;margin-top:5px;}
.nComentForm input{margin-bottom:5px;width:100%;}

.comentarios, .imgCont>img {box-shadow:-1px -1px 3px #888888;}
.comAutor{font-weight:bold;float:left}
.nHilo
{
	margin-left:20px;
	padding-left:10px;
}
.col-1
{
	clear:both;
}
.cerrar
{
	-moz-transition:background-color 0.5s;
	-moz-transition:color 0.5s;
	border-radius:1px;
	padding:5px;
	float:right;
	color:silver;
	background-color:rgba(255,255,255,0.05); 
	border-radius:30px;
	border:1px solid silver;
}
.cerrar:hover
{
	background-color:rgba(255,255,255,0.15);
	color:white;
}
#acciones{display:none;}
.acciones input{height:auto;}
.acciones{margin-bottom:50px;}