body,html{background:rgba(0,0,0,0.7);min-height:100%;}
.flecha{display:table;height:100%;}
.flecha a img
{
	width:100%;
	-moz-transition:opacity 0.2s;
	-webkit-transition:opacity 0.2s;
	opacity:0.7;
}
.flecha a img:hover
{
	opacity:1;
}
.flecha a {display:table-cell;vertical-align: middle}
.imgCont{margin:auto;}
h2
{
	text-align:center;
	color:white;
	padding:5px;
	margin:0px
}
.comentarios
{
	background: #00D0D0;
	border-radius:2px;
	margin:3% 0px 3% 0px;
	background-image:url("../img/fondo_contenido.png");
	background-color:rgba(255, 255, 255, 0.75); 
	border-radius:3px;
	padding:2%;
	overflow:hidden;
}
.comentarios div form
{
	padding:0px;
}
.comentarios div form input
{
	height:1em;
}
.comCont{clear:both;border-bottom:1px solid silver;padding:10px;}
.nComentForm{position:relative;bottom:0px;}
.comentarios, .imgCont>img {box-shadow:-1px -1px 3px #888888;}
.comAutor{font-weight:bold;float:left;padding-right:10px;}
.nHilo{margin-left:20px;border-left:2px solid silver;}