body label, body input ,body select{font-size:1em;color:black;font-family:monospace;text-align:center}

.fin{margin:50px 0px 50px 0px;border-bottom:2px solid dimgray;}

form .fecha
{
	margin-bottom: 1%
}
form .fecha label
{
	color:white;
	text-align:center;
	display:block;
	font-size:1em;
}
form .fecha input
{
	width: 100%;
	color:black;
	text-align: center;
	display:block;
}
form a
{
	color:black;
	text-decoration:none;
	text-align:center;
}
select option{background-color:white;}
form p{color:black}
.menu:hover li:hover .acciones, .menu:hover .acciones ,section:hover .clearfix form .acciones input[type="submit"],
section:hover .clearfix form .acciones, .modulo:hover .acciones input[type="submit"] ,.modulo:hover .acciones,.modulo:hover .sep, .modulo:hover .semitrans,
.contenido:hover .acciones input[type="submit"] ,.contenido:hover .acciones , .contenido:hover .sep, .contenido:hover .semitrans, .contenido:hover >.sep,
.comentarios:hover .acciones, .comentarios:hover .acciones input,.comentarios:hover .semitrans
{
	opacity:1
}

.menu li form.right{position:relative;right:7px;float:right;}
.menu input , .acciones input{max-width:30px;}
.acciones input{box-shadow:none;background-color:transparent;border-radius:2px;}
.acciones input:hover{background-color:rgba(255,255,255,0.8);}
.menu #accionesMenu
{
	width:100%;
	position:static;
}
.menu #accionesMenu input
{
	background:transparent;
	background-color:silver;
	border-radius:0px;
	color:silver;
	text-shadow:0px 0px 2px black;
	font-size:2em;
	box-shadow:none;
	padding:0px;
	width:100%;
	max-width:100%;
	line-height:1em;
	font-weight:bold;
	height:auto;
}
.menu #accionesMenu .acciones{width:100%}
input,form a , button, textarea, select{height:auto;box-shadow:0px 0px 3px black;border-radius:3px;border:none;}
button,form a{background-color:silver;font-family:sans-serif;vertical-align:middle;line-height:3em;color:black;}
textarea{height:auto}

input[type="radio"]{max-height:1em;}
input[type="submit"]{font-family:"Monospace";padding:0px 5px 0px 5px;vertical-align: top;height:19px}
input , textarea, select,main>.right input[type="submit"]
{
	-moz-transition:background-color 0.5s;
	-webkit-transition:background-color 0.5s;
	transition:background-color 0.5s;
	background-color:#F0F8FF;
	font-family:Monospace;
}
.sep , .acciones ,input.semitrans , .menu:hover li .acciones{opacity:0.2;transition:opacity 0.8s}
.tresem input{opacity:1;}
main>.right .acciones,main>.right input[type="submit"]
{
	background-image:none;
	width:100%;
	opacity:1;
	max-width:none;
	color:black;height:auto;
	background-color:#D8F3FF;
}
main>.right .acciones:hover,main>.right input[type="submit"]:hover
{
	background-color:white;
}
body main>form.right{clear:both;margin-bottom:20px;position:static;float:none;}
body main>form.right input{width:100%;text-align:center;padding:0px;margin:0px;font-size:1.3em;}
input[name="nuevo"]{background-image:url("/img/10.png");}
input[name="elimina"]{background-image:url("/img/51.png")}
input[name="edita"]{background-image:url("/img/39.png")}
input[name="elimina"],input[name="edita"],input[name="nuevo"]{background-repeat:no-repeat;background-position: center;color:transparent;}

input:hover , textarea:hover ,select:hover, input:focus , textarea:focus
{
	background-color:#D8F3FF;
}
.overhidden
{
	overflow:auto;
	width:100%;
	max-height:100%;
	margin-bottom:1em;
}
.overhidden div img
{
	width:100%;
}
.overhidden div input
{
	width:100%;
}
.disabled{pointer-events:none;opacity:0.5;}

.tresem input, .tresem select,.tresem label,.cacho label{height:3em}
.tresem label{font-size:2em;color:white;margin-top:5px;}
.cacho label{color:black;}
.cacho .clearfix{margin-bottom:0px;}
body input[type="checkbox"].semitrans{float:right;}
.nuevo{width:90%;margin-left:5%;padding-top:50px;padding-bottom:70px;}


select.orden{height:auto;margin-bottom:20px;}
select.orden option{height:2em;text-align:center;background-color:#F0F8FF;}
select.orden .lleno{cursor:default;pointer-events:none;background-color:#82C5F5;}


section form.accionesSec , section form.accionesCon, section form.nCon{float:left;}
body form.right{right:40px; position:absolute}
body form.right input, body form.nCon input, body form.nCon select{float:none;}

label[for^="con"]{display:none;}


.comentario:target
{
	animation-name:comentBackground;
	animation-duration:2s;
}
body .comentario input[type="checkbox"]
{
	float:none;
}
@keyframes comentBackground
{
	from
	{
		background-color:yellow;
	}
	to
	{
		background-color:transparent
	}
}