@media screen and (max-width:768px){
	body .Form .FormLabelBox label, body form h1.left{text-align:center;display:block;}
	.Form  div.FormLabelBox{display:block;}

	.Form div.FormDateCont div.LabelBoxDate:last-of-type{padding-right:5px;}
	div.FormDateCont div.LabelBoxDate:first-of-type{padding-left:5px;}

	form input[name*="Continuar"].col-xs-12
	{
		width:100%;
	}
/*
	body .menu .FormCliSecAddMenu
	{
		width:auto;
		float: left
	}
	body .menu .FormCliSecAddMenu input
	{
		background: none;
	    color: white;
	    padding: 10px;
	}
	.menu .acciones input.elimina, body .menu nav .acciones input.edita
	{
		opacity: 0.3
	}
*/
	body .menu:hover li .acciones,body .menu:hover li .acciones, body .menu nav .acciones input.elimina:hover, body .menu nav .acciones input.edita:hover
	{
		background-color:transparent;
		opacity: 1
	}
	body .menu nav .acciones
	{
		opacity: 1
	}
}
body input ,body select{font-size:1em;color:black;font-family:monospace;text-align:center}
body input ,body select, .indicator-invisible
{
	/*
		Las medidas height y margin deben ser las mismas que
		las de los input dentro de .acciones
	*/
	/*height:25px;*/
}

.fin{margin:50px 0px 50px 0px;border-bottom:2px solid dimgray;}

.able-media-container video{width:100%;height: 100%}

form .fecha
{
	margin-bottom: 1%
}
form .fecha label
{
	color:white;
	display:block;
	font-size:1em;
}
form .fecha input
{
	width: 100%;
	color:black;
	text-align: center;
	display:block;
}
select option{background-color:white;}
form p{color:black}
.menu:hover li:hover .acciones, .menu:hover .acciones ,section:hover .FormCliCon .acciones input[type="submit"],
section:hover .FormCliSec .acciones, section:hover .FormCliSecNew .acciones, .Modulo:hover .acciones input[type="submit"] ,.Modulo:hover .acciones,.Modulo:hover .sep, .Modulo:hover .semitrans,
.Contenido:hover .acciones input[type="submit"] ,.Contenido:hover .acciones , .Contenido:hover .sep, .Contenido:hover .semitrans, .Contenido:hover >.sep,
.comentarios:hover .acciones, .comentarios:hover .acciones input,.comentarios:hover .semitrans
{
	opacity:1
}

.menu .FormCliSecAddMenu .acciones{opacity:1;}
.menu .FormCliSecAddMenu .acciones input{opacity:0.3;}
.menu .FormCliSecAddMenu .acciones input:focus , .menu .FormCliSecAddMenu .acciones input:hover{opacity:1;}
.monoWhite
{
	font-weight:bold;
	text-shadow:0px 0px 1px black;
	font-family:monospace;
	padding:0px;
}
.menu li form.right
{
	position:relative;
	right:0;
	display: table-cell;
	vertical-align: middle;
	float:none;
}
.menu li form.right input
{
	float:right;
}
.acciones input, .acciones select, .indicator-invisible{margin:3px;}
.acciones input{box-shadow:none;background-color:transparent;border-radius:2px;}
html body section .acciones input[type="submit"]:hover,html body .acciones input[type="submit"]:focus
{
	background-color:rgba( 255 , 255 , 255 , 0.8 );
}
.menu .FormCliSecAddMenu
{
	width:100%;
	position:static;
}
.menu .FormCliSecAddMenu input:hover,.menu .FormCliSecAddMenu input:focus
{
	color:white;
}
.menu .FormCliSecAddMenu input
{
	transition: color 0.5s;
	font-size:2em;
	
	width:100%;
	max-width:100%;
	height:100%;
	font-weight:bold;

	border-top:1px solid dimgray;
	

	padding:0px;
	/*:::Revierte estilos puestos a input:::*/
	background:transparent;
	border-radius: 0px;
	box-shadow: none;
	animation-name:none;
}
.menu .FormCliSecAddMenu .acciones{width:100%}
input , button, textarea, select{box-shadow:0px 0px 3px black;border-radius:3px;border:none;}

	.menu .acciones input.elimina{background-image:url("/img/51.white.png")}
	.menu .acciones input.edita{background-image:url("/img/39.white.png")}

	body .menu .acciones input.elimina:hover, .acciones input.elimina:focus
	{
		opacity: 1;
		background-image:url("/img/51.white.png")
	}
	.menu .acciones input.edita:hover,.acciones input.edita:focus
	{
		background-image:url("/img/39.white.png")
	}

button{background-color:silver;font-family:sans-serif;vertical-align:middle;line-height:3em;color:black;}
textarea{height:auto}

input[type="radio"]{max-height:1em;}
input[type="submit"], button{font-family:"Monospace";vertical-align: top;}
input , textarea, select,main>.right input[type="submit"], button
{
	-moz-transition:background-color 0.5s;
	-webkit-transition:background-color 0.5s;
	transition:background-color 0.5s;
	background-color:#F0F8FF;
	font-family:Monospace;
	animation-name:none;
}
.sep , .acciones ,input.semitrans , .menu:hover li .acciones{opacity:0.2;transition:opacity 0.8s;margin:0px;}
.tresem input{opacity:1;}

main>.right .acciones,main>.right input[type="submit"]
{
	background-image:none;
	width:100%;
	opacity:1;
	max-width:none;
	color:black;height:auto;
	background-color:#D8F3FF;
}
input.nSec{width:100%;}
body main>form.right{clear:both;margin-bottom:20px;position:static;float:none;}
body main>form.right input{width:100%;text-align:center;padding:0px;margin:0px;font-size:1.3em;}
main .acciones input.nuevo{background-image:url("/img/10.png")}
.acciones input.elimina{background-image:url("/img/51.png")}
.acciones input.edita{background-image:url("/img/39.png")}

main section .acciones input.nuevo:hover, main section .acciones input.nuevo:focus
{
	background-image:url("/img/10.png");
}
.acciones  input.elimina:hover,.acciones input.elimina:focus
{
	background-image:url("/img/51.png");
}
.acciones input.edita:hover,.acciones input.edita:focus
{
	background-image:url("/img/39.png");
}
.menu .acciones  input.elimina:hover,.acciones input.elimina:focus
{
	background-image:url("/img/51.white.png");
}
.menu .acciones input.edita:hover,.acciones input.edita:focus
{
	background-image:url("/img/39.white.png");
}

.acciones input.elimina,.acciones input.edita ,main .acciones input.nuevo
{
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center;
	color:transparent;
	max-width: 30px;
	height: 25px;
}
.acciones input:hover, .acciones input:focus, .acciones input.nuevo:hover
{
	background-color:linear-gradient(to right bottom, #FFF, #EAEAEA);
	border:1px solid rgb(144, 144, 144);
	animation-name:inputHover;
	animation-duration:0.2s;
}
input[name^="Continuar"], input.volver{width:47%;float:left;margin:25px 0px 25px 0px;}
input.volver{float:right;}

input[name^="Continuar"].col-lg-12
{
	width:58.3333%;
	float:right;
}

input:hover ,input:focus,input[type="file"]:focus, textarea:hover, textarea:focus ,select:hover, select:focus, .MSGBox, button:hover, button:focus, form .focus, main>.right .acciones:hover, main .right input[type="submit"]:hover, main .right input[type="submit"]:focus
{
	background-color:#71BEFF;
}
.overhidden
{
	overflow:auto;
	width:100%;
	max-height:100%;
	margin-bottom:1em;
}
.overhidden div img
{
	width:100%;
}
.overhidden div input
{
	width:100%;
}
.disabled{pointer-events:none;opacity:0.5;}

div.LabelBoxDate label{display:block;font-size:1em;width:100%;text-align: center}
div.LabelBoxDate input{width:100%;}
div.LabelBoxDate{padding:0px 5px 0px 5px}
div.FormDateCont{padding-left:0px;padding-right: 0px}
div.TituloBox{display:block;}
div.TituloBox label{text-align: center;display:block;}
h1.MSGBox
{
	background:#D3E6F4 url("../img/fondo_contenido.png") repeat scroll 0% 0%;
	display: block;
	padding: 9.5px;
	margin: 0px 0px 10px;
	line-height: 1.42857;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #CCC;
	font-family:"Open Sans";
	font-size: 1.5em;
	border-radius: 3px;
	box-shadow: -1px -1px 5px #888;
}

.FormDateCont div.LabelBoxDate:last-of-type{padding-right:0px;}
.FormDateCont div.LabelBoxDate:first-of-type{padding-left:0px;}

form h1.left
{
	font-weight: bold;
}

.Form .FormLabelBox{overflow:hidden;padding:25px 0px 25px 0px;display:table;width:100%;}

.Form .FormLabelImagen label
{
	margin-bottom:20px;
}

.Form .FormLabelBox input,.Form .FormLabelBox select,.Form .FormLabelBox label, div.LabelBoxDate input,
input[name^="Continuar"], input.volver{height:40px}

.tresem label, form h1.left{float:left;font-size:2em;color:white;margin:0px;display:table-cell;vertical-align: middle;float:none;}

.FormCliLogin input.nuevo,body .FormCliLogin .FormLabelBox{width:100%;display:block;clear:both;}
.FormCliLogin input
{ 
	height:2em;
	line-height: 2em
}
div.LoginBox
{
	background:rgba(255, 255, 255, 0.35)  no-repeat left top;
	border-radius:3px;
	box-shadow:0px 0px 10px black;
	padding: 15px;
	margin: auto;
	display: block;
	float: none;
	position: static;
	width: 300px;
	overflow: hidden;
}
.LoginBox h1
{
	color: #E9E9E9;
	font-size: 25px;
	margin-top: 10px;
	text-align: center;
	text-shadow: 0px 0px 2px #000;
}
.FormCliLogin .FormLabelBox
{
	position: relative;
	padding: 0;
	margin: 0;
}
.FormCliLogin input.compacto,.FormCliLogin label.compacto
{
	left:0;
	top:0;
	height:auto;
	position: absolute;
}
body input[type="checkbox"].semitrans{float:right;}
.Form{width:90%;margin-left:5%;padding-top:50px}
.gmaps .Form{width:auto;}
form hr{margin-top:70px;}

.Form .FormLabelBox select.orden{height:auto;margin-bottom:20px;}
select.orden option
{
	height:2em;
	text-align:center;
	background-color:#F0F8FF;
	/* Revisar */
	color:transparent;
}
select.orden .lleno
{
	cursor:default;
	pointer-events:none;
	background-color:#82C5F5;
	color:black;
}


section form.accionesSec , section form.accionesCon, section form.nCon{float:left;}
body form.right{ position:relative;float:right;right:0;}
body form.right input, body form.nCon input, body form.nCon select{float:none;}

div.label
{
	font-size:1em;
	font-weight: normal
}
.label label.compacto
{
	color:#2F2F2F;
	font-family: courier;
	text-shadow:none;
	font-weight: bold;
	position:absolute;
	display:block;
	z-index:5;
	cursor:text;
}
.label input.compacto, .label textarea.compacto
{
	width:100%;
	position:relative;
	z-index:3;
}
/*
http://accessibility.oit.ncsu.edu/blog/2012/01/12/accessible-read-more-links/
http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.offscreen
{
	width:1px;
	height:1px;
	position: absolute !important;
	overflow: hidden;
	clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
	clip: rect(1px, 1px, 1px, 1px);
}
.comentario:target
{
	animation-name:comentBackground;
	animation-duration:2s;
}
body .comentario input[type="checkbox"]
{
	float:none;
}
.tresem legend
{
	border-style:none;
	margin:auto;	
	width:auto;
	margin-left:10px;
	color:white;
}
.tresem fieldset label
{
	font-size:1.8em;
}
body fieldset
{
	border:1px solid silver;
}
.map-canvas
{
	border-radius:3px;
	box-shadow:0px 0px 3px white;
}
.mapa, .rutas
{
	padding:15px;
}
.mapa img
{
	height:auto;
	width:100%;
}
.rutas div
{
	background-color:white;
}
.rutas table
{
	margin-top:10px;
}
.rutas th
{
	text-align: center
}
.rutas td:first-of-type
{
	text-align: center;
}
.rutas td
{
	font-size:14px;
	font-family: Roboto,Arial,sans-serif;
	font-weight: 300;
}
.rutas .start-address, .rutas .end-address
{
	border: 1px solid #C0C0C0;
	background: rgb(238, 238, 238) none repeat;
	padding: 10px 0px;
	display:block;
	overflow: hidden;
}
.rutas .start-address img, .rutas .end-address img
{
	display: block;
	float: left;
	overflow: hidden;
}
.rutas .start-address
{
	margin-bottom:15px;
}
.rutas td
{
	padding: 7px 5px;
	border-top:1px solid silver;
}
.rutas ol li span
{
	
}
.rutas ol li span.instruccion
{
	
}
li.turn-right::before
{
	content:'↳';
}
li.turn-left::before
{
	content:'↲'
}
input.GMapsFormSubmit
{
	margin:0px;
}
form.GMapsForm
{
	overflow: hidden;
	padding: 15px
}
.tagList span
{
	background-color:white;
	color:black;
	margin:3px;
	padding:1px 7px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	border:1px solid black;
	line-height: 1em
}
.tagList
{
	float:right;
	padding:10px;
}
@keyframes comentBackground
{
	from
	{
		background-color:yellow;
	}
	to
	{
		background-color:transparent
	}
}
@keyframes inputHover
{
	/*
		La diferencia de margen o de altura en ambos estados
		debe ser la misma. En este caso, 31-25 o 36-30 = 6.

		Por el momento funciona con errores si el padre del
		input animado tiene display table o table row.
	*/
	from
	{
		margin:0;
		height:31px;
		max-width:36px;
	}
	to
	{
		margin:3px;
		height:25px;
		max-width: 30px;
	}
}