.fin{margin:50px 0px 50px 0px;border-bottom:2px solid dimgray;}

form .fecha
{
	margin-bottom: 1%
}
form .fecha label
{
	color:white;
	text-align:center;
	display:block;
	font-size:1em;
}
form .fecha input
{
	width: 100%;
	color:black;
	text-align: center;
	display:block;
}
form a
{
	color:black;
	text-decoration:none;
	text-align:center;
}
select option{background-color:white;}
form p{color:black}
.menu:hover .acciones input[type="submit"], .menu:hover .semitrans , .menu:hover .acciones,section:hover .clearfix form .acciones input[type="submit"],
section:hover .clearfix form .acciones, .modulo:hover .acciones input[type="submit"] ,.modulo:hover .acciones,.modulo:hover .sep, .modulo:hover .semitrans,
.contenido:hover .acciones input[type="submit"] ,.contenido:hover .acciones , .contenido:hover .sep, .contenido:hover .semitrans, .contenido:hover >.sep,
.comentarios:hover .acciones, .comentarios:hover .acciones input,.comentarios:hover .semitrans
{
	opacity:1
}
.menu .acciones{margin-left:10px;margin-top:10px;}
.menu input , .acciones input{max-width:30px;}

label{font-size:2em;color:white;margin-top:5px;}
label[for="secID"]{display:none;}
input,form a , button, textarea, select{height:auto;box-shadow:0px 0px 3px black;border-radius:3px;border:none;}
button,form a{background-color:silver;font-family:sans-serif;vertical-align:middle;line-height:3em;color:black;}
textarea{height:auto}

input[type="radio"]{max-height:1em;}
input[type="submit"]{font-family:"Monospace";padding:0px 5px 0px 5px;vertical-align: top;height:19px}
input , textarea, select,main>.right input[type="submit"]
{
	-moz-transition:background-color 0.5s;
	-webkit-transition:background-color 0.5s;
	transition:background-color 0.5s;
	background-color:#F0F8FF;
	font-family:Monospace;
}
.sep , .acciones ,input.semitrans,.acciones input[type="submit"]{opacity:0.2;transition:opacity 0.8s}
.tresem input{opacity:1;}
main>.right .acciones,main>.right input[type="submit"]
{
	background-image:none;
	width:100%;
	opacity:1;
	max-width:none;
	color:black;height:auto;
	background-color:#D8F3FF;
}
main>.right .acciones:hover,main>.right input[type="submit"]:hover
{
	background-color:white;
}
input[name="nuevo"]{background-image:url("/img/10.png");}
input[name="elimina"]{background-image:url("/img/51.png")}
input[name="edita"]{background-image:url("/img/39.png")}
input[name="elimina"],input[name="edita"],input[name="nuevo"]{background-repeat:no-repeat;background-position: center;color:transparent;}

input:hover , textarea:hover ,select:hover, input:focus , textarea:focus
{
	background-color:#D8F3FF;
}
.overhidden
{
	overflow:auto;
	width:100%;
	max-height:100%;
	margin-bottom:1em;
}
.overhidden div img
{
	width:100%;
}
.overhidden div input
{
	width:100%;
}
.disabled{pointer-events:none;opacity:0.5;}

.tresem input, .tresem select{height:3em;}
.nuevo{width:90%;margin-left:5%;padding-top:50px;padding-bottom:70px;}


select.orden{height:auto;margin-bottom:20px;}
select.orden option{height:2em;text-align:center;background-color:#F0F8FF;}
select.orden .lleno{cursor:default;pointer-events:none;background-color:silver;}


section form.accionesSec , section form.accionesCon, section form.nCon{float:left;}
body form.right{right:40px; position:absolute}
body form.right input, body form.nCon input, body form.nCon select{float:none;}

label[for^="con"]{display:none;}


.comentario:target
{
	animation-name:comentBackground;
	animation-duration:2s;
}
@keyframes comentBackground
{
	from
	{
		background-color:yellow;
	}
	to
	{
		background-color:transparent
	}
}